.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
  transition: 0.2s;
  box-sizing: border-box;
  padding: 2%;
}
.card img {
  width: 100%;
}
.card-title {
  margin: 4% 0;
}
.delete-icon {
  width: 10%;
  height: 3vh;
  position: relative;
  margin-bottom: 6%;
  cursor: pointer;
}
.first-line,
.second-line {
  width: 100%;
  border-bottom: 1px solid;
  position: absolute;
  top: 50%;
}
.first-line {
  transform: rotate(45deg);
}
.second-line {
  transform: rotate(-45deg);
}
.like-icon {
  width: 15%;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
  border: 1px solid;
  border-radius: 4px;
}
.liked {
  fill: red;
}
